/* Font personnalisée */
@font-face {
    font-family: 'proxima_nova_extra_condensXBd';
    src: url('../font/fontsfree-net-proxima-nova-excn-xbold-webfont.woff2') format('woff2'),
         url('../font/fontsfree-net-proxima-nova-excn-xbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('../font/fontsfree-net-proximanova-regular-webfont.woff2') format('woff2'),
         url('../font/fontsfree-net-proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novathin';
    src: url('../font/fontsfree-net-proxima-nova-thin-webfont.woff2') format('woff2'),
         url('../font/fontsfree-net-proxima-nova-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}